html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    position: relative;
    background-color: rgb(42, 71, 71);
    font-family: 'Trebuchet MS', sans-serif;
}


.box {
    background-color: rgb(67, 151, 117);
    position: absolute;
    display: table;
    height: 28%;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box * {
    position:absolute; 
    display: inline-table;
    background-color: rgb(72, 191, 132);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    /* flex: 0 0 auto; */
    /* display: inline; */
    /* justify-content: center; */
    /* align-items: center; */
}
.number {
    top: 100%;
    transform: translateY(-100%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    /* top: 50%;
    transform: translateY(-50%); */
}
.number .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.number .tooltiptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.number:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.controlPanel {
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 65%;
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    background-color: rgb(72, 191, 132);
}


input[type='range'] {
    width: 100%;
}

/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;
      background-color: #2A4747;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #fff;
      box-shadow: -80000010px 0 0 80000000px #61D095;
    }
} */