html,
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow: hidden;
    position: relative;
    background-color: black;
    font-family: 'Trebuchet MS', sans-serif;
}

.box {
    justify-content: center;
    order: 1;
    background-color: "black";
    position: relative;
    display: flex;
    /* align-items: end; */
    height: 50%;
    width: 100%;
}

.box * {
    background-color: "white";
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.number {
    flex-grow: 1;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.number .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.number:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.controlPanel {
    order: 2;
    position: relative;
    justify-content: center;
    width: 100%;
    /* top: 65%; */
}
body {
    color: white
}
.number {
    position: relative;
    display: inline-block;
}

.number .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.number .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.number:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.workflow {
    align-items: center;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

p {
    margin: 5px;
}